body {
  background-color: #0A0F3C;
  font-family: 'Inter', sans-serif;
}

.top-section {
  margin-top: 40px;
}

.profile-icon img {
  width: 110px;
  height: 110px;
  border: 4px solid #FFF;
  border-radius: 100%;
  background-color: #F2F2F2;
  padding: 5px;
}

.title {
  font-size: 36px;
  font-weight: 700;
  color: #C9D3ED;
}

.title .highlight {
  color: #198A8B;
}

.form-section {
  margin-top: 40px;
}

.form-control {
  background-color: #DFF7FF;
  border: none;
  height: 48px;
  border-radius: 14px;
}

.textarea {
  height: 140px;
  resize: none;
}

.btn-next {
  background-color: #007384;
  color: #FFFFFF;
  height: 48px;
  border-radius: 30px;
  font-size: 17px;
  font-weight: 600;
}

label {
  font-size: 14px;
  margin-bottom: 6px;
}
